/* *
{
    box-sizing: border-box;
} */
body{
    background-color: #fffec9;
}
.header
{
    overflow: hidden;
    background-color: #729bb3;
    /* align-items: center; */
}
.header a
{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    border: solid 2px #729bb3;
} 
.header a.logo
{
    margin: 0;
}
.itens a:hover
{
    border: solid 2px #96d9ff;
}
.itens
{
    margin: auto;
    float: right;
}
.itens a
{
    margin-top: 36px;
    margin-bottom: 36px;
}
.header hr
{
    display: none;
}
.quemSomos
{
    text-align: center;
    background-color: #96d9ff;
    padding: 30px;
    color: white;
}
.quemSomos h1
{
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
    height: fit-content;
    width: fit-content;
    text-decoration: underline;
}
.conteudoQS
{
    text-align: left;
    display: flex;
}
.textoQS
{
    vertical-align: middle;
    margin: auto;
    font-size: 2vw;
}
#imgFamilia
{
    max-width: 400px;
    width: 50vw;
}
@media screen and (max-width: 500px)
{
    .header a
    {
        float: none;
        display: block;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .itens
    {
        float: none;
    }
    .header hr
    {
        display: block;
        margin: 0;
    }
    /* quem somos */
    .conteudoQS
    {
        display: block;
        text-align: center;
    }
    #imgFamilia
    {
        margin-top: 10px;
    }
    
}